<?xml version="1.0" ?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
 <Template/>
 <TotalTime>19977</TotalTime>
 <Application>LibreOffice/7.5.2.2$Windows_X86_64 LibreOffice_project/53bb9681a964705cf672590721dbc85eb4d0c3a2</Application>
 <AppVersion>15.0000</AppVersion>
 <Pages>8</Pages>
 <Words>850</Words>
 <Characters>5632</Characters>
 <CharactersWithSpaces>6380</CharactersWithSpaces>
 <Paragraphs>84</Paragraphs>
</Properties>
